# Data files #
##############
*.csv
!CustomEquationMatrixTemplate.csv
*.txt
*.pdf
*.mat
*.lhs
*.xlsx
*.png
!nasa.png
!rice.png

# GUI config files #
####################
*.ini
*.cal
*.val
*.app

# MATLAB autosave files #
#########################
*.asv

# Prevent subfolders #
######################
*/

# Random Mac Files #
####################
*.DS_Store